@import url('https://fonts.googleapis.com/css?family=Anton|Charmonman|Hind+Guntur|Kanit:400,600|Muli:200,400|Playfair+Display');

/* font-family: 'Charmonman',
cursive;
font-family: 'Playfair Display',
serif;
font-family: 'Muli',
sans-serif;
font-family: 'Anton',
sans-serif;
font-family: 'Hind Guntur',
sans-serif;
font-family: 'Kanit',
sans-serif; */


/* Sticky footer styles
-------------------------------------------------- */



.main-signup{
    background-color: #3fada8;
    margin-top: 20px;
}


/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}
