@import url('https://fonts.googleapis.com/css?family=Anton|Charmonman|Hind+Guntur|Kanit:400,600|Muli:200,400|Playfair+Display');

/* font-family: 'Charmonman',
cursive;
font-family: 'Playfair Display',
serif;
font-family: 'Muli',
sans-serif;
font-family: 'Anton',
sans-serif;
font-family: 'Hind Guntur',
sans-serif;
font-family: 'Kanit',
sans-serif; */


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


.main-signup{
    background-color: bisque;
    margin-top: 20px;
}
