{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="col-sm main-signup">
      <h2>Login</h2>

        <form method="POST" action="/signup" >
            {{ form.hidden_tag() }}
          
                
           
            
                <div class="form-group" >
                    
                    {{ form.email.label }}
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <p class="error-message">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        {{ form.email(class="form-control") }}
                
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    {{ form.password(class="form-control") }}
                </div>
              
           

            
            

            <!-- <button {{ form.submit(class="btn waves-effect waves-light") }}>Submit</button>  -->
            <button type="submit" class="btn btn-primary">Submit</button>    

        </form>
    </div>
    
    
</div>
<br>
<br>
<br>


{% endblock %}